# Rename to .env.local and populate with your own project values
# see docs/supabase/quickstarts.md for more information

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Terminal instructions
# Link your project
# supabase link --project-ref dxrdhbosclbgloqcyjol 
# Create a new migration called "new-migration"
# supabase migration new new-migration 
# Run all migrations for this project
# supabase db push 